.garfield { width:398px; height:126px; 
background:url(garfield.gif) 0px 0px;}

@media only screen and (max-width: 1200px) {
        .garfield { width:196px; height:128px; 
        background:url(garfield.gif) -405px 0px;}
}
@media only screen and (max-width: 1100px) {
        .garfield { width:200px; height:130px; 
        background:url(garfield.gif) 0px -132px;}
}
@media only screen and (max-width: 1000px) {
        .garfield { width:200px; height:130px; 
        background:url(garfield.gif) -200px -132px;}
}
@media only screen and (max-width:  900px) {
        .garfield { width:196px; height:128px; 
        background:url(garfield.gif) -405px -132px;}
}
@media screen and (max-width:  800px) {
        .garfield { width:200px; height:128px; 
        background:url(garfield.gif) 0px -268px;}
}
@media screen and (max-width:  700px) {
        .garfield { width:200px; height:128px; 
        background:url(garfield.gif) -200px -268px;}
}
@media screen and (max-width:  600px) {
        .garfield { width:200px; height:128px; 
        background:url(garfield.gif) -398px -268px;}
}
