
body {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 18px;
        margin-left: 5%;
        margin-right: 5%;
}

#_code {
        font-style: italic;
        font-weight: bold;
}

#imgs {
        width: device-width;
        border-right: 10%;
}

#imgs3 {
        margin-right: 25%;
        width: device-width;
}

#num {
        font-size: 24px;   
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.ad {
    font-weight: bold;    
}